# --- Временные файлы Roblox и Rojo ---
.rojo/
*.rbxlx.lock
*.rbxl.lock

# --- Сборщик пакетов Wally ---
# Сами скачанные библиотеки хранить в Git нельзя, Wally выкачает их заново одной командой
Packages/
ServerPackages/

# --- Настройки VS Code ---
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Логи и Кэш ---
*.log
logs/
.DS_Store

# --- Секреты и ключи (КРИТИЧЕСКО СЕКРЕТНО) ---
# Сюда пишем файлы с токенами для деплоя, если будете их использовать локально
.env
*.pem
secret.toml
